.bg-purple-100 {
  background-color: $purple-100;
}
.bg-purple-500 {
  background-color: $purple-500;
}
.bg-yellow-100 {
  background-color: $yellow-100;
}
.bg-yellow-500 {
  background-color: $yellow-500;
}

.text-purple-100 {
  color: $purple-100;
}
.text-purple-500 {
  color: $purple-500;
}
.text-yellow-100 {
  color: $yellow-100;
}
.text-yellow-500 {
  color: $yellow-500;
}
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}

.fw-500 {
  font-weight: 500;
}
