body {
  font-size: 18px;
  font-family: "DM Sans", serif;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.container {
  max-width: 1100px;
}
